@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  @apply font-sans;
}

.guven-bg-image {
  background-image: url('/guvenfinans/guvenfinans-background.png');
  background-repeat: no-repeat;
 
  position: relative;
}

.guven-bg-image::before {
  position: absolute;
  inset: 0;
  background-color: #0F2F7399; 
  z-index: 0;
}
.myDarkBlue {
  color:#15305B;
  
}

.rotate-text {
  transform: rotate(-90deg);
 
}
@layer utilities {
  .font-urbanist {
    font-family: var(--font-urbanist);
  }

}